:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

#switch-container.light, h1.light{
    --textThemeColor:var(--dark);
    --themeColor:var(--light);
}

#switch-container.dark, h1.dark{
    --textThemeColor:var(--light);
    --themeColor:var(--dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    width: 15vw;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--textThemeColor);
}

#switch-container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8vh;

    background-color: var(--themeColor);
}

.switch{
    background-color: var(--label);

    width: fit-content;
    height: fit-content;
    padding: 1vw;
    border-radius: 100px;

    display: flex;
    gap: 3vw;
    
}

.moon, .sun{
    width: 5vw;
}

#switch-animation{
    position: absolute;

    background-color: var(--light);

    width: 5vw;
    height: 5vw;
    border-radius: 100px;

    cursor: pointer;

    animation-name: switchAnimationReturn;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}

#switch-animation.dark{
    animation-name: switchAnimation;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#switch-container, #switch-container.dark, #switch-animation, #switch-animation.dark {
    transition: 0.3s;
    animation-duration: 0.3s;
}

@keyframes switchAnimation{
    0%{
        left: 43.5vw;
    }

    100%{
        left: 51.5vw;
    }
}

@keyframes switchAnimationReturn {
    0%{
        left: 51.5vw;
    }

    100%{
        left: 43.5vw;
    }
}

@media (max-width: 800px) {
    h1{
        font-size: 5vw;
    }

    .switch{
        gap: 6vw;
        padding: 2vw;
    }

    .moon, .sun{
        width: 10vw;
    }

    #switch-animation{
        height: 10vw;
        width: 10vw;
    }

    @keyframes switchAnimation{
        0%{
            left: 37vw;
        }
    
        100%{
            left: 53vw;
        }
    }
    
    @keyframes switchAnimationReturn {
        0%{
            left: 53vw;
        }
    
        100%{
            left: 37vw;
        }
    }
}